{% extends "base/base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Plans</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Plan</h5>
                <a href="/plan_create" class="btn btn-lg btn-info">Create <i class="fas fa-plus-circle"></i></a>
            </div>
        </div>
        {% for plan in plans %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ plan.Title }}</h5>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a href="/plans/{{ plan.Id }}" class="btn btn-lg btn-info"><i class="fas fa-edit"></i></a>
                    <a href="#" class="btn btn-lg btn-danger remove-plan" data-id="{{ plan.Id }}"><i class="fas fa-times-circle"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    $(document).ready(function() {
        $('.remove-plan').on('click', function(e) {
            e.preventDefault();
            var root = $(this);
            var planId = $(this).attr('data-id');

             $.ajax({
                 method: "delete",
                 url: "/api/v1/plans/" + planId,
             }).done(function () {
                root.parents('.card').html("");
            });
        });
    });
</script>
{% endblock %}