{% extends "base/base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-6 text-center">
        <h1 class="mt-5">Plans</h1>
    </div>
    <div class="col-lg-6 text-center">
        <h1 class="mt-5">
            <button class="btn btn-info btn-lg create-user"
                    data-toggle="collapse"
                    data-target="#multi-collapse-"
                    role="button">Create Plan <i class="fas fa-plus-circle"></i></button>
        </h1>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-12 text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for plan in plans %}
            <tr>
                <th scope="row">{{ plan.Id }}</th>
                <td>{{ plan.Title }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button class="btn btn-info btn-lg edit-user"
                                data-toggle="collapse"
                                data-target="#multi-collapse-{{ user.Id }}"
                                role="button">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger btn-lg delete-user" data-id="{{ user.Id }}">
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}